body {

    background-color: darkslategrey;
    background-image: url("https://us.123rf.com/450wm/ifaritovna/ifaritovna1607/ifaritovna160700172/60173831-estudio-vac%C3%ADo-tel%C3%B3n-de-fondo-azul-inter.jpg?ver=6");
  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: center;

}