body {

    background-color: darkslategrey;
    background-image: url("https://img.freepik.com/foto-gratis/tapa-graduada-negra-certificado-estudios-ritmo-reloj-alarma-sobre-fondo-madera_43157-47.jpg?size=626&ext=jpg");
  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: center;

}